body {
  background-image: url("https://media.gettyimages.com/photos/france-montpellier-place-de-la-comedie-three-graces-fountain-with-the-picture-id144101389");
  background-repeat: no-repeat;
  background-size: cover;
  
}
