<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Gestion des Monuments Associes aux Celebrites</title>
<link rel="stylesheet" type="text/css" 
href="/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="/css/myStyle.css"
th:href="@{/css/myStyle.css}"/>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" th:href="@{/celebrites}">Celebrites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/departements}">Departements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/Lieux}">Lieux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/monuments}">Monuments</a>
      </li>
    </ul>
    <button type="button" class="btn btn-secondary my-2 my-sm-0"><a th:href="@{/logout}"> Logout </a></button>
  </div>
</nav>
 
</header>
</body>
</html>